@import '../../global.scss';

.strength-meter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  background-color: $bg-color;
  margin-bottom: 5%;

  h3 {
    color: $title-color;
    width: 50%;
    padding-left: 5%;
    font-size: 18px;
  }
  
  .right-side {
    display: flex;
    flex-direction: row;
    width: 30%;
    
    .strength {
      display: flex;
      justify-content: flex-end;
      color: $font-color;
      width: 20%;
      font-family: JetBrainsMono;
      font-size: 24px;
      white-space: nowrap;

      &.empty {
        color: $bg-color;
      }
    }

    .strength-bars {
      display: flex;
      flex-direction: row;
      width: 80%;
      justify-content: flex-end;

      .bar {
        height: 70%;
        width: 5%;
        outline-style: solid;
        outline-color: $font-color;
        outline-width: 0.15rem;
        margin-right: 10%;
        align-self: center;
        transition: all 0.5s ease;

        &.too-weak {
          background-color: $too-weak;
          outline-color: $too-weak;
        }

        &.weak {
          background-color: $weak;
          outline-color: $weak;
        }

        &.medium {
          background-color: $medium;
          outline-color: $medium;
        }

        &.strong {
          background-color: $strong;
          outline-color: $strong;
        }
      }
    }
  }
}
