@import '../../global.scss'; 

.text-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  background-color: $component-bg;
  padding: 0.8%;

  span {
    color: $font-color;
    font-size: 24px;

    &.defaultText {
      color: $title-color; 
    }
  }

  .copy-section {
    display: flex;
    justify-content: flex-end;
    width: 30%;

    .copied {
      font-size: 12px;
      color: $title-color;
      margin-right: 15%;
    }

    img {
      width: 15%;
      cursor: pointer;
  
      &:hover {
        fill: $font-color;
      }
    }
  }
}

