@import '../../global.scss';

.slider {
  width: 95%;

  .length {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 7%;
    margin-bottom: 3%;
    justify-content: space-between;

    h4 {
      color: $font-color;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
      align-self: center;
    }

    h5 {
      color: $strong;
      font-size: 32px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .slider {
    color: $strong;

    .MuiSlider-rail {
      color: black;
      outline-style: solid;
    }

    .MuiSlider-thumb {
      color: $font-color;
      outline-color: $font-color;
      outline-style: solid;
      outline-width: 0.07rem;
      box-shadow: none;

      &:hover {
        color: $bg-color;
        outline-color: $strong;
      }
    }
  }
}